<div  ng-cloak>
    <div class="row">
        <div id="column" class="col-md-8">
            <h1>Welcome on Ludecol App </h1>

            <div id="imageZoomable">
                <button ng-click="getAnnotations(this)">Serialize</button>
                <a id="map-annotate-button" ng-click="annotate()">ADD ANNOTATION</a>
                <div id="openseadragon" />
            </div>
            <textarea style="margin: 0; width: 621px; height: 96px;" ng-bind="message"></textarea>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true"
                     translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>
                <div id="gallery">
                    <table  align="center"  cellpadding="10">
                        <tr ng-repeat="level in (levelss.length/2 | array)">
                            <td ng-repeat="level in levelss.slice(2*$index, 2*$index + 2)" style="padding-right:10px" >
                                <a ng-click="launchLevel(level.picture)"><img ng-src="{{level.picture.url_picture}}" width="310" height="227" /></a>
                                <img ng-src="{{getNbStars(level)}}" align="center"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                    password="admin".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    Don't have an account? <a href=\"#/register\">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
